div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.user, .session, .share, .save, .run {
    position: absolute;
    top: 20px;
    font-size : 14px;
}

.user {
  right: 40px;
}

.session {
  right: 132px;
}

.save {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 118px;

    border: 1px solid rgb(237, 237, 237);
    outline: 0px none;
    background: rgb(245, 245, 245) none repeat scroll 0% 0%;
    margin-left: 0px;
    
}

.title {
  position: relative;
  display: inline-block;
  font-size : 24px;
  border: 1px solid rgb(211, 209, 209);
  margin-top: 10px;
  height: 30px;
  padding: 5px;
}

.logo  {
    position: absolute;
    left: 25px;
    height: 50px;
    line-height: 94px;
    margin:5px;
}

header {
    position: relative;
    height: 60px;
    text-align: center;
    background: rgb(244, 244, 244) none repeat scroll 0% 0%;
    border-bottom: 1px solid rgb(228, 228, 228);
}

body {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
}

footer {
  bottom: 0px;
  width: 100%;
  height: 30px;
  background: rgb(71, 71, 71);
  text-align: center;
  line-height: 30px;
  position: relative;
}

h1 {
  color: rgb(238, 238, 238);
  font-size: 14px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  line-height: 30px;
  float: right;
}

.items{
  height: 30px;
  max-width: 100%;
  margin-right: 2%;
}

.content {
  height:80%;
  flex: 1;
  background-color:black;
}

.coding {
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  left: 0px;
  bottom: 0px;
  width: calc(58.8381% - 6px);
}

.compiler {
    height: 100%;
    position: relative;
    display: block;
    background: rgb(14, 22, 40) none repeat scroll 0% 0%;
    width: calc(41.1619% - 6px);
}

.settings {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 15px;
    height: 30px;
}

.border {
  height: 100%;
  position: relative;
  display: flex;
  background: rgb(221, 221, 221) none repeat scroll 0% 0%;
  cursor: col-resize;
  width: 12px;
}

.env {
  display: flex;
  overflow: hidden;
  height: 93.5%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}